<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>rd-eng-ecommerce</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>control</display-name>
    <servlet-name>control</servlet-name>
    <servlet-class>br.com.library.web.control.Control</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>control</servlet-name>
    <url-pattern>/salvar-cliente</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>control</servlet-name>
    <url-pattern>/servicoConsultarLogin</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>control</servlet-name>
    <url-pattern>/consultarDados</url-pattern>
  </servlet-mapping>
     <servlet-mapping>
      <servlet-name>control</servlet-name>
      <url-pattern>/alterarDados</url-pattern>
  </servlet-mapping>
       <servlet-mapping>
      <servlet-name>control</servlet-name>
      <url-pattern>/excluirDados</url-pattern>
  </servlet-mapping>
  
  <session-config>
	<session-timeout> 3600 </session-timeout>
</session-config>
</web-app>